%section.full-bleed
  .section-body.style-default-dark.force-padding.text-shadow
    .img-backdrop{style: "background-image: url(#{asset_url('hands.jpg')})"}
    %div{class: "overlay overlay-shade-bottom stick-bottom-left height-5"}
    .row
      .col-md-3.col-xs-5
        %img.img-circle.border-white.border-xl.img-responsive.auto-width{:alt => "", :src => asset_url(@user.image), :style=> "width:200px; height: 200px;"}
          %h3
            = @user.display_name.humanize
            %br
              %small= @user.job_type.try(:title)
    .overlay.overlay-shade-bottom.stick-bottom-left.force-padding.text-right
      - if can? :edit, User
        %a.btn.btn-icon-toggle.btn-lg{"data-original-title" => "Personal info", "data-placement" => "top", "data-toggle" => "tooltip", :href=> edit_user_path(@user)}
          %i.fa.fa-edit
