%ul#menu.mfb-component--br.mfb-slidein-spring{"data-mfb-toggle" => "click"}
  %li.mfb-component__wrap
    %a.mfb-component__button--main{:href => "#"}
      %i.mfb-component__main-icon--resting.fa.fa-plus
      %i.mfb-component__main-icon--active.fa.fa-times
    %ul.mfb-component__list
      %li
        %a.mfb-component__button--child{"data-mfb-label" => "Save Changes", :href => "#"}
          %i.mfb-component__child-icon.fa.fa-floppy-o
      %li
        %a.mfb-component__button--child{"data-mfb-label" => "Download", :href => "#"}
          %i.mfb-component__child-icon.fa.fa-download
      %li
        %a.mfb-component__button--child{"data-mfb-label" => "Upload", :href => "#"}
          %i.mfb-component__child-icon.fa.fa-upload

:css
  #footer-area { display: none; }