.row
  .col-md-12
    .card
      .card-head.style-primary
        %header.text-xl
          Edit field type
.row
  .col-md-12
    .card
      .card-underline
        .card-head
          %header.text-lg
            Editing field type
        .card-body
          = render 'form'
    .card-actionbar
      %a.btn.btn-floating-action.btn-info.btn-xs.fa.fa-reply.ink-reaction.pull-left{:href => field_types_path}
      = button_tag 'Save', type: :submit, class: "btn btn-info pull-right", onclick: '$("form").submit()'
