%td= state_badge on_call.progress_state
%td= on_call.date.strftime("%e, %b, %y")
%td= on_call.note
%td.text-right
  - if on_call.progress_state == "pending"
    %a.btn.btn-xs.text-success{href: update_task_state_path(id: @timesheet.id, task_id: [on_call.id], state: 'approved', user_id: @timesheet.user.id, task_type: 'on_call'), "data-remote": true}
      %i.fa.fa-check
    %a.btn.btn-xs.text-danger{href: update_task_state_path(id: @timesheet.id, task_id: [on_call.id], state: 'rejected', user_id: @timesheet.user.id, task_type: 'on_call'), "data-remote": true}
      %i.fa.fa-times
  - else
    %a.btn.btn-xs.text-danger{href: update_task_state_path(id: @timesheet.id, task_id: [on_call.id], state: 'pending', user_id: @timesheet.user.id, task_type: 'on_call'), "data-remote": true}
      %i.fa.fa-minus-circle
  %a.btn.btn-xs.ink-reaction.text-primary{class: ("pulse1" unless on_call.comments.empty?), href: "#offcanvas-oncall-#{on_call.id}-comments" , "data-toggle": "offcanvas", "data-backdrop": "false"}
    %i.fa.fa-comment
