<section class="content-header">
  <h1>
    HR Form
    <small>Administration</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Forms</a></li>
    <li class="active">HR</li>
  </ol>
</section>
<section class="content">

  <div class="row">
    <div class="col-md-12">
      <!-- Default box -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Details</h3>
        </div>
          <div class="box-body">

          <table class="table borderless" >

            <tr>
              <td><span>ID</span></td>
              <td><input type="text" class="form-control " disabled value="1234"></td>
            </tr>

            <tr>
              <td><span>Name</span></td>
              <td><input type="text" class="form-control" placeholder="HR Form"></td>
            </tr>
            </table>
          </div>
        </div>
      </div>
    </div>


  <div class="row">
    <div class="col-md-12">
      <!-- Default box -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Permissions</h3>
        </div>
        <div class="box-body">
          <table  class="datatable table table-bordered">
            <thead>
            <tr>
              <th>Roles</th>
              <th class="text-center">Create</th>
              <th class="text-center">Edit</th>
              <th class="text-center">View</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Admin</td>
              <td class="text-center"><input type="checkbox" class="flat-red" checked/></td>
              <td class="text-center"><input type="checkbox" class="flat-red" checked/></td>
              <td class="text-center"><input type="checkbox" class="flat-red" checked/></td>
            </tr>
            <tr>
              <td>Field Supervisor</td>
              <td class="text-center"><input type="checkbox" class="flat-red" /></td>
              <td class="text-center"><input type="checkbox" class="flat-red" /></td>
              <td class="text-center"><input type="checkbox" class="flat-red" /></td>
            </tr>

            <tr>
              <td>HR Supervisor</td>
              <td class="text-center"><input type="checkbox" class="flat-red" /></td>
              <td class="text-center"><input type="checkbox" class="flat-red" /></td>
              <td class="text-center"><input type="checkbox" class="flat-red" checked/></td>
            </tr>

            <tr>
              <td>Field Employee</td>
              <td class="text-center"><input type="checkbox" class="flat-red" /></td>
              <td class="text-center"><input type="checkbox" class="flat-red" /></td>
              <td class="text-center"><input type="checkbox" class="flat-red" checked/></td>
            </tr>
          </tbody>
          </table>

        </div><!-- /.box-body -->

      </div><!-- /.box -->


    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <!-- Default box -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Section #1</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" ><i class="fa fa-copy"></i></button>
            <button class="btn btn-box-tool "  data-toggle="modal" data-target="#edit-section"><i style="color: #3c8dbc;" class="fa fa-gear"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <table class="table ">
            <tr>
              <th  style="width: 50%">Field Name</th>
              <th  style="width: 35%">Type</th>
              <th  style="width: 15%" >Controls</th>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-control" placeholder="Field Name">
              </td>
              <td>
                <select class="form-control" value=3>
                   <option>Text</option>
                   <option>Date</option>
                   <option>Checkbox</option>
                   <option>Select</option>
                   <option>CustomField #1</option>
                </select>
              </td>
              <td class="text-right">
                <button class="btn btn-box-tool disabled" ><i style="color: white;" class="fa fa-gear"></i></button>
                <button class="btn btn-box-tool" ><i class="fa fa-times"></i></button>
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-control" placeholder="Field Name">
              </td>
              <td>
                <select class="form-control" value=3>
                   <option>Checkbox</option>
                   <option>Text</option>
                   <option>Date</option>
                   <option>Select</option>
                   <option>CustomField #1</option>
                </select>
              </td>
              <td class="text-right">
                <button class="btn btn-box-tool disabled " ><i style="color: white;" class="fa fa-gear"></i></button>
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-times"></i></button>
              </td>
            </tr>


            <tr>

              <td>
                <input type="text" class="form-control" placeholder="Field Name">
              </td>
              <td>
                <select class="form-control" value=3>
                   <option>Select</option>
                   <option>Text</option>
                   <option>Date</option>
                   <option>Checkbox</option>
                   <option>CustomField #1</option>
                </select>
              </td>
              <td class="text-right">
                <button class="btn btn-box-tool "  data-toggle="modal" data-target="#edit-field-1"><i style="color: #3c8dbc;" class="fa fa-gear"></i></button>
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-times"></i></button>
              </td>
            </tr>


          </table>
        </div><!-- /.box-body -->
        <div class="box-footer">

            <button class="btn btn-default" data-widget="collapse"><i class="fa fa-plus"> </i> New Field</button>

        </div><!-- /.box-footer-->
      </div><!-- /.box -->


    </div>
  </div>





  <div class="row">
    <div class="col-md-12">
      <!-- Default box -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Section #2</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" ><i class="fa fa-copy"></i></button>
            <button class="btn btn-box-tool "  data-toggle="modal" data-target="#edit-section"><i style="color: #3c8dbc;" class="fa fa-gear"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <table class="table ">
            <tr >
              <th  style="width: 50%">Field Name</th>
              <th  style="width: 35%">Type</th>
              <th  style="width: 15%">Controls</th>
            </tr>



            <tr>

              <td>
                <input type="text" class="form-control" placeholder="Field Name">
              </td>
              <td>
                <select class="form-control" value=3>
                   <option>Select</option>
                   <option>Text</option>
                   <option>Date</option>
                   <option>Checkbox</option>
                   <option>CustomField #1</option>
                </select>
              </td>
              <td class="text-right" >
                <button class="btn btn-box-tool "  data-toggle="modal" data-target="#edit-field-1"><i style="color: #3c8dbc;" class="fa fa-gear"></i></button>
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-times"></i></button>
              </td>
            </tr>

            <tr>

              <td>
                <input type="text" class="form-control" placeholder="Field Name">
              </td>
              <td>
                <select class="form-control" value=3>
                   <option>Foriegn Select</option>
                   <option>Text</option>
                   <option>Date</option>
                   <option>Checkbox</option>
                   <option>CustomField #1</option>
                </select>
              </td>
              <td class="text-right">
                <button class="btn btn-box-tool "  data-toggle="modal" data-target="#edit-field-2"><i  style="color: #3c8dbc;" class="fa fa-gear"></i></button>
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-times"></i></button>
              </td>
            </tr>

            <tr>

              <td>
                <input type="text" class="form-control" placeholder="Field Name">
              </td>
              <td>
                <select class="form-control" value=3>
                  <option>CustomField #1</option>
                  <option>Date</option>
                  <option>Text</option>
                  <option>Checkbox</option>
                  <option>Select</option>

                </select>
              </td>
              <td class="text-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i style="color: white;" class="fa fa-gear"></i></button>
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-times"></i></button>
              </td>
            </tr>
          </table>
        </div><!-- /.box-body -->
        <div class="box-footer">

            <button class="btn btn-default" data-widget="collapse"><i class="fa fa-plus"> </i> New Field</button>

        </div><!-- /.box-footer-->
      </div><!-- /.box -->


    </div>
  </div>
</section>



  <div class="modal" id="edit-field-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-lg">Edit Field</h4>
        </div>
        <div class="modal-body">
          <dl class="dl-horizontal">
            <dt>Options</dt>
            <dd>
              <input type="text" class="form-control" placeholder="Comma Separated Options">
            </dd>

            <dt>Default Value</dt>
            <dd>
              <input type="text" class="form-control" placeholder="Section #1">
            </dd>

          </dl>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
    <div class="modal" id="edit-field-2">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-lg">Edit Field</h4>
          </div>
          <div class="modal-body">
            <dl class="dl-horizontal">
              <dt>Foreign Modal</dt>
              <dd>
                <select class="form-control">
                  <option>Users</option>
                  <option>Skills</option>
                  <option>Agencies</option>
                  <option>JobTypes</option>
                </select>
              </dd>

              <dt>Display Column</dt>
              <dd>
                <select class="form-control">
                  <option>Name</option>
                  <option>Date</option>
                  <option>Job</option>
                </select>
              </dd>

            </dl>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


<div class="modal" id="edit-section">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-lg">Edit Field</h4>
      </div>
      <div class="modal-body">


        <table class="table borderless" >

          <tr>
            <td><span>ID</span></td>
            <td><input type="text" class="form-control " disabled value="54112"></td>
          </tr>

          <tr>
            <td><span>Name</span></td>
            <td><input type="text" class="form-control" value="Section #1"></td>
          </tr>

          <tr>
            <td><span>Permissions</span></td>
            <td>

            <table  class="table table-bordered">
              <thead>
              <tr>
                <th>Roles</th>
                <th class="text-center">Create</th>
                <th class="text-center">Edit</th>
                <th class="text-center">View</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Admin</td>
                <td class="text-center"><input type="checkbox" class="flat-red" checked/></td>
                <td class="text-center"><input type="checkbox" class="flat-red" checked/></td>
                <td class="text-center"><input type="checkbox" class="flat-red" checked/></td>
              </tr>
              <tr>
                <td>Field Supervisor</td>
                <td class="text-center"><input type="checkbox" class="flat-red" /></td>
                <td class="text-center"><input type="checkbox" class="flat-red" /></td>
                <td class="text-center"><input type="checkbox" class="flat-red" /></td>
              </tr>

              <tr>
                <td>HR Supervisor</td>
                <td class="text-center"><input type="checkbox" class="flat-red" /></td>
                <td class="text-center"><input type="checkbox" class="flat-red" /></td>
                <td class="text-center"><input type="checkbox" class="flat-red" checked/></td>
              </tr>

              <tr>
                <td>Field Employee</td>
                <td class="text-center"><input type="checkbox" class="flat-red" /></td>
                <td class="text-center"><input type="checkbox" class="flat-red" /></td>
                <td class="text-center"><input type="checkbox" class="flat-red" checked/></td>
              </tr>
            </tbody>
            </table>

            </td>
          </tr>

          </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>


$(".datatable").dataTable();

</script>
