$("#{'#' + @comment.commentable.class.to_s.demodulize.downcase + '-comments'}").replaceWith("#{j render(partial: 'comments/comments', locals: {commentable: @comment.commentable}) }");
$("#{'#' + @comment.commentable.class.to_s.demodulize.downcase + '-comments-form textarea' }").val('');
