// Place all the styles related to the billing_reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//colors
$color_bahia_approx: #a8cb17;

.highlight-filter {
	background-color: #0B80C1 !important;
  color:#fff !important;
}