.card.card-underline
  .card-head
    %header.text-lg
      Visits
    - if @timesheet.user == current_user and @timesheet.state == "created"
      .tools
        %a.pull-right.btn.btn-floating-action.ink-reaction.btn-info.btn-xs{href: "#offcanvas-visits" , "data-toggle": "offcanvas", "data-backdrop": "false"}
          %i.fa.fa-list
  .card-body#visits_table
    - unless visits and visits.empty?
      %table#unbilled-visits-datatable.table.table-condensed.text-xs{"cellspacing":"0"}
        %thead
          %tr
            %th State
            %th= check_box_tag 'task_id[]',  "0", false, class: "task_checkbox" if submittable?(@timesheet)
            %th.col-md-2.text-md Patient
            %th.col-md-2.text-md Visit
            %th.col-md-2.text-md Date [Timein - Timeout]
            %th.col-md-5.text-md Reimbursements
            %th.col-md-1.text-md Actions


        %tbody
          - visits.each do |v|
            %tr.text-sm
              = render partial: "timesheets/show/created/submitter/visit_row", locals: { v: v }
    - else
      %span Click (+) to add visits to this timesheet
