.offcanvas-head
  .text-lg.text-primary Hours
  .offcanvas-tools
    %a.btn.btn-icon-toggle.btn-floating-action.pull-right.hide_offcanvas.ink-reaction.btn-info.btn-xs{ "data-dismiss" => "offcanvas" }
      %i.fa.fa-minus
.offcanvas-body#hours_offcanvas
  = render 'timesheets/show/shared/hours_offcanvas'
