!!!
/
  This is a starter template page. Use this page to start your new project from
  scratch. This page gets rid of all links and provides the needed markup only.
%html
  %head
    %meta{:charset => "UTF-8"}
      %title AdminLTE 2 | Dashboard
      %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
        / Bootstrap 3.3.2        / Font Awesome Icons
        %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
        / Ionicons
        %link{:href => "http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css", :rel => "stylesheet", :type => "text/css"}/

        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
        = javascript_include_tag 'application', 'data-turbolinks-track' => true
        = csrf_meta_tags

  %body.login-page
    = yield
